Twisted==11.1.0
Unum==4.1.1
distribute==0.6.24
ez-setup==0.9
git-remote-helpers==0.1.0
gprof2dot==1.0
httplib2==0.7.4
numpy==1.6.1
python-dateutil==2.1
redis==2.4.11
six==1.1.0
statprof==0.1.2
tvdb-api==1.5
tvnamer==2.2
txAMQP==0.5
untangle==1.0.0
virtualenv==1.7
virtualenvwrapper==2.10.1
wsgiref==0.1.2
zope.interface==3.8.0
